//Contact Free Call

.freeCall{
    form{
        padding: 5rem 0;
        input{
                &[type="tel"]{
                        width: 26%;
                    }
                &[type="radio"] {
                        width: 1%;
                        display: inline;
                }
            }
        .button{
                .button(relative, 7%);
                right: 24.7%;
                top: 0;
        }
        .freeCallMessage{
            margin-top: 1rem;
        }
    }
}
