//Reset
*{
margin: 0;
padding: 0;
}
 
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a{
    text-decoration: none;
    color: @actionColor;
    
    img {
      border: 0;
    }
}


 
:focus {
  outline: 0;
}
::selection{
    background: @actionColor;
}
ul{list-style: none;}
a{text-decoration: none;}